* {
  font-family: 'Mukta Mahee', sans-serif;
}

header {
  height: 50px;
  line-height: 50px
}

nav a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 3rem;
  color: #540314
}

nav a:hover {
  border-bottom: 2px solid #540314;
  transition: 80ms
}

nav a:focus {
  border-bottom: 2px solid #540314;
}
