* {
  font-family: 'Mukta Mahee', sans-serif;
}

header {
  height: 50px;
  line-height: 50px
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding: 20px 20px 0 20px;
  font-size: 3rem;
  color: black;
  height: 100%
}

nav ul li a:hover {
  border-bottom: 2px solid #540314;
  transition: 80ms;
  background: rgba(193, 166, 176, 0.2)
}

nav ul li a:focus {
  border-bottom: 2px solid #540314;
}
